{%load mytags%}
<html>
     <head>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
          <title>
                 {%block title_block%}
                 {%endblock%}
          </title>
     </head>
     <body>
       <div class="content" style="width:70%;float:left;background-color:#a8aaad;height:300%;padding:0 0 0 30px">
         {%block content_block%}
         {%endblock%}
       </div>
       <div class="sidebar" style="width:30%;float:right;background-color:#c4c456;height:300%;padding:10px">
                <h2> abhilash's blog</h2>
                <h3> Total publications
                <span style="color:red;font-size:80px">
                  {%total_posts%}</span>
                  <h3>latest Posts</h3>
                  {%show_latest_posts 2%}
                  <h3>Most commented post</h3>
                    {%get_most_commented_posts as m%}
                    <ol>
                      {%for post in m%}
                      <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
                      {%endfor%}
                    </ol>
              </h3>
       </div>
    </body>
    </html>
